CALL_INTERVAL_MS=
LOBBY_SECONDS=
SIGNUP_BONUS_AMOUNT=
STAKE_PER_CARTEL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
TELEGRAM_BOT_TOKEN=
MONGODB_URI=mongodb+srv://admin:hVI9tTaroIlS7fJ1@cluster0.viwaesg.mongodb.net/luckybingo?retryWrites=true&w=majority&appName=Cluster0